.App {
  text-align: center;
}







.dog-image {
  min-width: 370px;
  height: 350px;
  border-radius: 8px;
}

.dog-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
  padding: 3px;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color:  #318ce7;
  color:#d9d9d9;
}